:root{
    --black: #1C1D24;
    --light-black: #1f232a;
    --red: darkred;
    --blue: #60dafb;
    --dark-grey: #555454;
    --light-grey: #e7e8eb;
    --yellow: #f9b100;
    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
    font-family: var(--poppins);
}
.menu{
    position: relative;
    top: -3px;
    padding: 5px;
    display: none;
}
header{
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 999;
    flex-wrap: wrap;
    background-color: var(--black);
    align-items: center;
    justify-content: space-between;
}
.material-icons{
    position: relative;
    top: 5px;
}
header > p, ul, a{
    margin: 10px 20px;
    cursor: pointer;
    font-size: 1.4rem;
    list-style: none;
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: whitesmoke;
}
li:hover{
    transition: ease 0.2s;
    background-color: var(--dark-grey);
    border-radius: 40px;
}
.home-box{
    margin: 50px 4vw;
    max-width: 500px;
}
.home-box > h1{
    font-size: 2.3rem;
    padding-bottom: 10px;
}
.home-box > p{
    font-family: var(--roboto);
    font-size: 1.4rem;
}
.home-box > button{
    position: relative;
    margin-top: 30px;
    padding: 5px 20px;
    background-color: var(--red);
    border: none;
    outline: none;
    transition: ease-out 0.3s;
    box-shadow: inset 0 0 0 0 var(--yellow);
    font-size: 1.2rem;
}
.home-box > button:hover{
    box-shadow: inset 200px 0 0 0 var(--yellow);
    cursor: pointer;
}
.profile{
    min-width: 200px;
    min-height: 200px;
    margin: 60px 0;
    background-color: var(--light-grey);
    border-radius: 50%;
    overflow: hidden;
}
.center{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
}
img{
    max-width: 400px;
    max-height:400px;
    position: relative;
    top: 10px;
    width: auto;
    height: auto;
}
.sobre{
    background-color: var(--light-grey);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 65px 0;
}
.guy{
    min-width: 450px;
    height: 350px;
}

.aboutme{
    width: 500px;
    text-align: justify;
}
.habilidades{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 100px;
    gap: 50px;
    justify-content: space-around;
    text-align: center;
}
.images img{
    border-radius: 5px;
    min-width: 682px;
    min-height: 384px;
    display: block;
}
#contato{
    margin: 0;
    padding: 10px;
    background-color: var(--light-black);
    color: whitesmoke;
}
.contato{
    background-color: var(--light-black);
    margin: 0;
    padding: 50px 0 30px;
    color: whitesmoke;
}
.sidecontacts{
    line-height: 1px;
    font-size: 26px;
    gap: 20px;
}
@media only screen and (max-width: 880px){
    .menu{
        display: block;
    }
    .home-box{
        text-align: center;
    }
    .lista{
        position: fixed;
        top: 57px;
        right: -20px;
        height: 100vh;
        z-index: 5;
        background-color: var(--light-black);
        flex-direction: column;
        padding: 85px;
        min-width: 200px;
        margin: 0 auto;
    }
    .lista > li{
        text-align: center;
        line-height: 50px;
        margin: 0 auto;
    }
    .lista.active{
        right: -1000px;
        transition: ease 0.3s;
    }
    .aboutme{
        margin: 30px 5vw;
    }
    .aboutme, p{
        text-align: justify;
    }
}