html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}
header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #373234;
    align-items: center;
    justify-content: space-between;
}
header > p, ul, a{
    margin: 15px 20px;
    font-size: 1.4rem;
    list-style: none;
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: whitesmoke;
}
li:hover{
    transition: ease 0.2s;
    background-color: tomato;
    border-radius: 2vh;
}
.home-box{
    margin: 100px;
    max-width:530px;
}
.home-box > h1{
    font-size: 2rem;
    padding-bottom: 10px;
}
.home-box > button{
    margin-top: 30px;
    font-size: 1rem;
    /*padding: 8px;*/
}